<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Employee Manager</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a (click)="onOpenModel(null,'add')" class="nav-link" href="#">Add employee <span
          class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input  #search="ngModel"ngModel (ngModelChange)="searchEmployees(search.value)" class="form-control mr-sm-2" type="search"
             name="key" placeholder="Search an employee" aria-label="Search">
      <!--
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      -->
    </form>
  </div>
</nav>
<br>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-3">
      <div class="contact-box center-version">
        <a href="#profile.html">
          <img alt="image" class="img-circle" src="{{employee?.imageUrl}}">
          <h3 class="m-b-xs"><strong>{{employee?.name}}</strong></h3>

          <div class="font-bold">{{employee?.jobTitle}}</div>
          <address class="m-t-md">
            {{employee?.email}} <br>
            <abbr title="Phone">Phone:</abbr> {{employee?.phone}}
          </address>

        </a>
        <div class="contact-box-footer">
          <div class="m-t-xs btn-group">

            <a (click)="onOpenModel(employee,'edit')" class="btn btn-xs btn-white"><i class="fa fa-pencil"
                                                                                      aria-hidden="true"></i> Edit</a>
            <a (click)="onOpenModel(employee,'delete')" class="btn btn-xs btn-white"><i class="fa fa-trash-o"
                                                                                        aria-hidden="true"></i> Delete
            </a>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">

          <div class="form-group">
            <label for="name">Name</label>
            <input ngModel name="name" type="text" class="form-control" id="name" required placeholder="Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input ngModel name="email" type="email" class="form-control" id="email" required placeholder="Email">
          </div>
          <div class="form-group">
            <label for="job">Job title</label>
            <input ngModel name="jobTitle" type="text" class="form-control" id="job" required placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input ngModel name="phone" type="text" class="form-control" id="phone" required placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="phone">Image URL</label>
            <input ngModel name="imageUrl" type="text" class="form-control" id="image" required placeholder="Image URL">
          </div>
          <div class="modal-footer">
            <button id="add-employee-form" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Update Employee {{editEmployee?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #editForm="ngForm">

          <div class="form-group">
            <label for="name">Name</label>
            <input ngModel="{{editEmployee?.name}}" name="name" type="text" class="form-control" id="name1" required
                   placeholder="Name">
          </div>
          <input name="id" type="hidden" ngModel="{{editEmployee?.id}}">
          <input name="employeeCode" type="hidden" ngModel="{{editEmployee?.employeeCode}}">
          <div class="form-group">
            <label for="email">Email address</label>
            <input ngModel="{{editEmployee?.email}}" name="email" type="email" class="form-control" id="email1" required
                   placeholder="Email">
          </div>
          <div class="form-group">
            <label for="job">Job title</label>
            <input ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" type="text" class="form-control" id="job1"
                   required placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input ngModel="{{editEmployee?.phone}}" name="phone" type="text" class="form-control" id="phone1" required
                   placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="image1">Image URL</label>
            <input ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" type="text" class="form-control" id="image1"
                   required placeholder="Image URL">
          </div>
          <div class="modal-footer">
            <button id="update-employee-form" type="button" class="btn btn-secondary" data-dismiss="modal">Close
            </button>
            <button (click)="onUpdateEmployee(editForm.value)" type="button" class="btn btn-primary">Save changes
            </button>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
      </div>
      <div class="modal-footer">
        <button id="delete-employee-form" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="onDeleteEmployee(deleteEmployee.id)" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="employees?.length ==0" class="alert alert-info">
  <h1>NO EMPLOYEES</h1>
  No Employees were found.
</div>
<br>
<br>
<br>
<br>
